body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #610B38;
}

.titre{
    color:#F6CEE3;
    text-align: center;
    font-size: 50px;
    margin-top: 35px;
}

.sous-titre{
    font-weight: normal;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}
  
.numero1, .numero2, .numero3, .numero4{
    margin: 15px;
    text-align: center;
    background-color: #F6CEE3;
    border: solid;
    border-width: 1px;
    border-radius: 40px;
    border-color: #610B38;
    margin-top: 50px;
    /* max-height: auto;
    width: 400px; */
    height: 340px;
}
  
.titre1, .titre2, .titre3, .titre4{
    margin: 50px;
    text-align: center;
    font-size: 40px;
    color: #610B38;
}
  
.input1, .input2, .input3, .input4{
    text-align: center;
    margin: 20px;
    width: 200px;
    font-size: 40px;
    background-color: #610B38;
    border: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #F6CEE3;
    padding: 20px;
    color: #F6CEE3;
    /* filter: blur(4px);    */
}

.indice1, .indice2, .indice3, .indice4{
    background-color: #610B38; 
    border: 0px;
    margin-left: 40px;
    margin-top: 8px;
}

.check1, .check2, .check3, .check4{
    background-color: #F6CEE3; 
    border: 0px;
    margin-left: 40px;
    margin-top: 50px;
}
